@import "../../index.scss";


.execPic {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}

.squarePic {
    max-height: 18rem;
    max-width: 18rem;
    object-fit: cover;
}

.insta-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-right: $space-1;
    // margin-bottom: $space-1;
    width: 18rem;
    align-items: center;
    background-color: $white;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.insta-card:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    filter: brightness(75%)
}

.t-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 18rem;
    align-items: center;
    background-color: $white;
    border-radius: $buttonBorderRadius;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.t-card:hover {
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    transform: scale(1.02);
}