@import "../../index.scss";


.execPic { // reference eventcomponent .pic
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
    flex-shrink: 0;

    @media only screen and (max-width: 1100px) {
        height: 175px;
        width: 175px;
    }

    @media only screen and (max-width: 700px) {
        height: 125px;
        width: 125px;
    }
    
    @media only screen and (max-width: 300px) {
        height: 75px;
        // width: 75px;
    }
}

.squarePic {
    object-fit: cover;
    width: 100%;
}

.insta-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    background-color: $white;
    transition: 0.3s ease-out;
    cursor: pointer;
}

.insta-card:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    filter: brightness(75%)
}

.t-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border-radius: $buttonBorderRadius;
    transition: 0.3s ease-out;
    cursor: pointer;

    @media only screen and (max-width: 700px) {
        margin-right: 0;
        margin-bottom: 1.5rem;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}

.t-card:hover {
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
    transform: scale(1.02);
}