@import "../../index.scss";

.hero-sponsor-img {
    height: 2rem;
    margin: 1rem;
    margin-bottom: 0rem;
}

.sponsor-img {
    height: 2rem;
    margin: 1rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;

    @media only screen and (max-width: 900px) {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    
    @media only screen and (max-width: 550px) {
        margin-right: 0.25rem;
        margin-left: 0.25rem;
    }
}

.hero-sponsor-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
