@import "../../index.scss";

.sponsor-img {
    height: 25px;
    margin-right: $largePadding;
    
    // -webkit-filter: grayscale(100%);
    // -moz-filter: grayscale(100%);
    // -o-filter: grayscale(100%);
    // -ms-filter: grayscale(100%);
    // filter: grayscale(100%); 
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

.justify-flex-start {
    justify-content: flex-start;
}