@import "../../index.scss";

.hero-sponsor-img {
    height: 2rem;
    margin: 1rem;
    margin-bottom: 0rem;
}

.sponsor-img {
    height: 2rem;
    margin: 1rem;
    margin-right: 3rem;
    
    // -webkit-filter: grayscale(100%);
    // -moz-filter: grayscale(100%);
    // -o-filter: grayscale(100%);
    // -ms-filter: grayscale(100%);
    // filter: grayscale(100%); 
}

.hero-sponsor-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.sponsor-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}