@import '../../index';

.subsection-card-img {
    height: 250px;
    margin: 2rem;
}

.card {
    padding: 4rem;
    border-radius: $buttonBorderRadius;
    width: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to top right, $black 0%, $black 50%, $dark-purple 100%);
    // background: linear-gradient($black 0%, $dark-purple 50%, $black 100%);
    background-size: 400%;
    transition: 0.6s;
    background-position: 0;
}

.card:hover {
    background-position: right;
}

.container-pink {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: $pink;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.subsections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $section-76-width;

    @media only screen and (max-width: 1600px) {
        width: $section-66-width;
    }
    @media only screen and (max-width: 1250px) {
        width: $section-50-width;
    }
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @media only screen and (max-width: 1250px) {
        flex-direction: column;
    }
}

.learn-more-button {
    padding: 2rem;
    border-radius: 100px;
    cursor: pointer;
    background: linear-gradient(to left, $purple 0%, $light-purple 50%, $purple 100%);
    background-size: 200%;
    transition: 0.6s;
}

.learn-more-button:hover {
    background-position: right;
}