@import '../../index';

.subsection-card-img {
    height: 150px;
    width: 150px;
    background-color: lightgray;
    margin: $defaultPadding;
}

.subsections-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $section-big-width;

    @media only screen and (max-width: 1600px) {
        width: $section-mid-big-width;
    }
    @media only screen and (max-width: 1250px) {
        width: $section-mid-width;
    }
}

.items-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    @media only screen and (max-width: 1250px) {
        flex-direction: column;
    }
}

.learn-more-button {
    background-color: $purple;
    padding: $defaultPadding;
    border-radius: $buttonBorderRadius;
}