$extraBold: 800;
$bold: 700;
$semiBold: 600;
$lightBold: 500;
$regular: 400;
$light: 200;

$buttonBorderRadius: 10px;

$purple: #834273;
$dark-pink: #DD78A6;
$light-pink: #f7d7d7;
$peach: #ffedda;
$orange-peach: #FFC0A4;
$pink: #EDA9AD;
$white: #FEFEFE;

$smallPadding: 10px;
$defaultPadding: 15px;
$largePadding: 40px;
$xLargePadding: 60px;
$xxLargePadding: 80px;

$section-big-width: 66rem;

.purple-text {
  color: $purple;
}
.white-text {
  color: $white;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-weight: $bold;
  font-size: 4rem;
  @media only screen and (max-width: 800px) {
    font-size: 3rem;
  }
  @media only screen and (max-width: 400px) {
    font-size: 2.75rem;
  }
}
h2 {
  font-weight: $bold;
  font-size: 2.25rem;
  @media only screen and (max-width: 800px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 400px) {
    font-size: 1.5rem;
  }
}
h3 {
  font-weight: $bold;
  font-size: 1.85rem;
  @media only screen and (max-width: 800px) {
    font-size: 1.65rem;
  }
  @media only screen and (max-width: 400px) {
    font-size: 1.5rem;
  }
}
.semiBold {
  font-weight: $semiBold;
}
h4 {
  font-weight: $semiBold;
  font-size: 1.4rem;
  @media only screen and (max-width: 800px) {
    font-size: 1.2rem;
  }
  @media only screen and (max-width: 400px) {
    font-size: 0.9rem;
  }
}

h2.evenSmaller {
  font-weight: $bold;
  font-size: 1.125rem;
  @media only screen and (max-width: 800px) {
    font-size: 1rem;
  }
  @media only screen and (max-width: 400px) {
    font-size: 0.875rem;
  }
}

.subtitle {
  font-size: 1.125rem;
  font-weight: $regular;
  font-style: italic;
  @media only screen and (max-width: 800px) {
    font-size: 1rem;
  }
  @media only screen and (max-width: 400px) {
    font-size: 0.875rem;
  }
}

li {
  font-size: 1rem;
  font-weight: $regular;
  margin-left: 2rem;
  @media only screen and (max-width: 800px) {
    font-size: 0.875rem;
  }
}

p {
  font-size: 1rem;
  font-weight: $regular;
  @media only screen and (max-width: 800px) {
    font-size: 0.875rem;
  }
}

.margin {
  margin: $defaultPadding;
}
.margin2 {
  margin: $largePadding;
}
.margin3 {
  margin: $xLargePadding;
}

.pad {
  padding: $defaultPadding;
}
.pad2 {
  padding: $largePadding;
}
.pad3 {
  padding: $xLargePadding;
}

.marginb {
  margin-bottom: $defaultPadding;
}
.marginb2 {
  margin-bottom: $largePadding;
}
.marginb3 {
  margin-bottom: $xLargePadding;
}
.padb {
  margin-bottom: $defaultPadding;
}
.padb2 {
  padding-bottom: $largePadding;
}
.padb3 {
  padding-bottom: $xLargePadding;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  border: 0;
  background-color: transparent;
  :hover {
    cursor: pointer;
  }
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button p {
  font-size: 1rem;
}

.container-light-pink {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $light-pink;
  padding-top: $xxLargePadding;
  padding-bottom: $xxLargePadding;
}
.container-pink {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $pink;
  padding-top: $xxLargePadding;
  padding-bottom: $xxLargePadding;
}

.container-peach {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $peach;
  padding-top: $xxLargePadding;
  padding-bottom: $xxLargePadding;
}

.container-white {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  padding-top: $xxLargePadding;
  padding-bottom: $xxLargePadding;
}

.container-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ta-center {
  text-align: center;
}

.link {
  text-decoration: none;
  color: $purple;
  :hover {
    color: $dark-pink;
  }
}

.full-left-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  padding: $xxLargePadding;

}

input {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 12px;
  border: 0;
  background-color: white;

  box-shadow: 0 0 15px 1px rgba(0,0,0,.15);
  border-radius: 5px;
  width: 250px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}