$extraBold: 800;
$bold: 700;
$semiBold: 600;
$lightBold: 500;
$regular: 400;
$light: 200;

$buttonBorderRadius: 25px;

$dark-purple: #3c3861;
$purple: #626EEB;
$light-purple: #9E8CFF;
$pink: #FF71BC;
$peach: #f5dcdc;
$orange-peach: #FF7F56;
$white: #FFFFFF;
$black: #0B090B;

$section-76-width: 76rem;
$section-66-width: 66rem;
$section-50-width: 50rem;

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  font-family: "Poppins", sans-serif;
}

.purple-text {
  color: $purple;
}

.white-text {
  color: $white;
}
.black-text {
  color: $black;
}
.bold {
  font-weight: $bold;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

h1 {
  font-size: 3rem;
  font-weight: $bold;
  @media only screen and (max-width: 700px) {
    font-size: 2rem;
  }
  @media only screen and (max-width: 550) {
    font-size: 1.8rem;
  }
}

h2 {
  font-size: 2.6rem;
  font-weight: $bold;
  @media only screen and (max-width: 700px) {
    font-size: 1.8rem;
  }
  @media only screen and (max-width: 550px) {
    font-size: 1.6rem;
  }
}
h3 {
  font-size: 2rem;
  font-weight: $bold;
  @media only screen and (max-width: 700px) {
    font-size: 1.6rem;
  }
  @media only screen and (max-width: 550px) {
    font-size: 1.4rem;
  }
}
h4 {
  font-size: 1.2rem;
  font-weight: $semiBold;
  @media only screen and (max-width: 700px) {
    font-size: 1rem;
  }
}
h5 {
  font-weight: $regular;
  font-size: 1rem;
  @media only screen and (max-width: 800px) {
    font-size: 0.8rem;
  }
  @media only screen and (max-width: 400px) {
    font-size: 0.7rem;
  }
}

.semiBold {
  font-weight: $semiBold;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: $regular;
  font-style: italic;
  @media only screen and (max-width: 800px) {
    font-size: 1rem;
  }
  @media only screen and (max-width: 400px) {
    font-size: 0.875rem;
  }
}

li {
  font-size: 1rem;
  font-weight: $regular;
  margin-left: 2rem;
  @media only screen and (max-width: 800px) {
    font-size: 0.875rem;
  }
}

p {
  font-size: 1rem;
  font-weight: $regular;
  @media only screen and (max-width: 800px) {
    font-size: 0.875rem;
  }
}

.margin {
  margin: 2rem;
}
.margin2 {
  margin: 4rem;
}
.margin3 {
  margin: 6rem;
}

.pad {
  padding: 2rem;
}
.pad2 {
  padding: 4rem;
}
.pad3 {
  padding: 6rem;
}

.padding642 {
  padding: 6rem;

  @media only screen and (max-width: 900px) {
    padding: 4rem;
  }

  @media only screen and (max-width: 700px) {
    padding: 2rem;
  }
}

.marginb {
  margin-bottom: 1rem;
}
.marginb2 {
  margin-bottom: 2rem;
}
.marginb4 {
  margin-bottom: 4rem;
}
.marginb6 {
  margin-bottom: 6rem;
}

.padb {
  margin-bottom: 1rem;
}
.padb2 {
  padding-bottom: 2rem;
}
.padb4 {
  padding-bottom: 4rem;
}
.padb6 {
  padding-bottom: 6rem;
}

button {
  border: 0;
  background-color: transparent;
  :hover {
    cursor: pointer;
  }
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button h4 {
  color: $white;
}

.container-dark-gradient {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  padding-bottom: 4rem;
  background-image: linear-gradient(to top, $black 0%, $black 65%, $dark-purple 100%);
}

.container-dark {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $black;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.container-white {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.container-align-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.center-text {
  text-align: center;
}

.link {
  text-decoration: none;
  color: $light-purple;
  transition: all 0.5s ease-in-out;
  :hover {
    color: $pink;
    transition: all 0.5s ease-in-out;
  }
}

.full-left-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  justify-content: flex-start;
  padding: 6rem;
}

.card-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.admin-container {
  padding: 6rem;
}

.big-img {
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 500px;
  width: min-content;
}

h1::selection {
  background: $light-purple;
}
