@import "../../index.scss";

.big-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: $largePadding $largePadding;
    height: 6rem;
    position: absolute;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.foot-container {
    margin-top: auto;
    padding: $largePadding;
    background-color: $black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90rem;
    // width: 100%;
}

.routes-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-route {
    margin-left: 3rem;
}

.footer-icon {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
}