@import "../../index.scss";

.nav-container {
    display: flex;
    justify-content: center;
    grid-row-start: 1;
    grid-row-end: 2;
    position: absolute;
    height: 6rem;
    width: 100%;
}

.expanded-nav-control {
    width: $section-76-width;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.4rem 3rem;
    
    @media only screen and (max-width: 1300px) {
        width: $section-66-width;
    }
    @media only screen and (max-width: 1200px) {
        width: $section-50-width;
        flex-direction: column;
    }
}

.hamburger-nav-control {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin: 1.4rem 2rem;
    max-width: 76rem;
  }

.big-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4rem 4rem;
    height: 6rem;
    position: absolute;
}

.nav-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.foot-container {
    margin-top: auto;
    padding: 4rem;
    background-color: $black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @media only screen and (max-width: 800px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.routes-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-route {
    margin-left: 3rem;
}

.footer-icon {
    height: 4rem;
    width: 4rem;
    object-fit: cover;
}